.sign--up__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 25px;
  color: white;
  transition: .3s ease-in-out;
  margin-right: .7rem;

  .final__form {
    width: 120px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(45, 147, 255);
    border-radius: 2px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    &:hover {
      color: #000356;
    }
  }
}

.sign--up__button, .final__form {
  width: 130px;
}





